In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

In [2]:
#导入格式注意\\或者/。或者在一个项目文件下直接名字
facebook = pd.read_csv("train.csv")

In [3]:
#背景是facebook构建的10*10的虚拟空间，文件太大了，运行起来慢，所以选一小块，处理一下数据

In [4]:
#看一下数据内容，加括号会排版成更容易看的样子
#位置，用户的位置XY，准确率，时间戳，地点ID。要预测的就是地点ID
facebook.head()

   row_id       x       y  accuracy    time    place_id
0       0  0.7941  9.0809        54  470702  8523065625
1       1  5.9567  4.7968        13  186555  1757726713
2       2  8.3078  7.0407        74  322648  1137537235
3       3  7.3665  2.5165        65  704587  6567393236
4       4  4.0961  1.1307        31  472130  7440663949

In [5]:
#看一下数据的统计数据
facebook.describe()

,row_id,x,y,accuracy,time,place_id
count,2.911802e+07,2.911802e+07,2.911802e+07,2.911802e+07,2.911802e+07,2.911802e+07
mean,1.455901e+07,4.999770e+00,5.001814e+00,8.284912e+01,4.170104e+05,5.493787e+09
std,8.405649e+06,2.857601e+00,2.887505e+00,1.147518e+02,2.311761e+05,2.611088e+09
min,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000016e+09
25%,7.279505e+06,2.534700e+00,2.496700e+00,2.700000e+01,2.030570e+05,3.222911e+09
50%,1.455901e+07,5.009100e+00,4.988300e+00,6.200000e+01,4.339220e+05,5.518573e+09
75%,2.183852e+07,7.461400e+00,7.510300e+00,7.500000e+01,6.204910e+05,7.764307e+09
max,2.911802e+07,1.000000e+01,1.000000e+01,1.033000e+03,7.862390e+05,9.999932e+09

In [6]:
facebook.shape

(29118021, 6)

In [7]:
#先缩小范围，取一小块 
data = facebook.query("x>2.0 & x<2.5 & y>2.0 & y<2.5")
data.shape

(71664, 6)

In [8]:
#选时间特征
data["time"].head()
#这是时间戳的数据

163     669737
310     234719
658     502343
1368    319822
1627    595084
Name: time, dtype: int64

In [9]:
time = pd.to_datetime(data["time"],unit="s")
#脱敏,1970年的虚拟数据
time.head()

163    1970-01-08 18:02:17
310    1970-01-03 17:11:59
658    1970-01-06 19:32:23
1368   1970-01-04 16:50:22
1627   1970-01-07 21:18:04
Name: time, dtype: datetime64[ns]

In [10]:
time = pd.DatetimeIndex(time)
time

DatetimeIndex(['1970-01-08 18:02:17', '1970-01-03 17:11:59',
               '1970-01-06 19:32:23', '1970-01-04 16:50:22',
               '1970-01-07 21:18:04', '1970-01-02 03:14:59',
               '1970-01-07 03:45:16', '1970-01-05 03:28:43',
               '1970-01-01 18:59:03', '1970-01-09 07:50:12',
               ...
               '1970-01-09 20:03:34', '1970-01-08 09:26:50',
               '1970-01-07 04:45:59', '1970-01-07 22:36:18',
               '1970-01-06 23:29:43', '1970-01-03 12:31:26',
               '1970-01-04 15:19:20', '1970-01-01 20:49:14',
               '1970-01-03 09:17:37', '1970-01-02 20:34:43'],
              dtype='datetime64[ns]', name='time', length=71664, freq=None)

In [11]:
time.hour

Int64Index([18, 17, 19, 16, 21,  3,  3,  3, 18,  7,
            ...
            20,  9,  4, 22, 23, 12, 15, 20,  9, 20],
           dtype='int64', name='time', length=71664)

In [12]:
time.day

Int64Index([8, 3, 6, 4, 7, 2, 7, 5, 1, 9,
            ...
            9, 8, 7, 7, 6, 3, 4, 1, 3, 2],
           dtype='int64', name='time', length=71664)

In [13]:
data["hour"] = time.hour
data["day"] = time.day
data["weekday"] = time.weekday
#红的是警告，没事

<ipython-input-13-8d9715c8ea8f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["hour"] = time.hour
<ipython-input-13-8d9715c8ea8f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["day"] = time.day
<ipython-input-13-8d9715c8ea8f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["weekday"] = time.weekday

In [14]:
data.head()
#上面就是加了小时，天数，工作日，三列数据，加了仨特征

      row_id       x       y  accuracy    time    place_id  hour  day  weekday
163      163  2.1663  2.3755        84  669737  3869813743    18    8        3
310      310  2.3695  2.2034         3  234719  2636621520    17    3        5
658      658  2.3236  2.1768        66  502343  7877745055    19    6        1
1368    1368  2.2613  2.3392        73  319822  9775192577    16    4        6
1627    1627  2.3331  2.0011        66  595084  6731326909    21    7        2

In [15]:
#去除无效数据，签到少的地方
data.head()

      row_id       x       y  accuracy    time    place_id  hour  day  weekday
163      163  2.1663  2.3755        84  669737  3869813743    18    8        3
310      310  2.3695  2.2034         3  234719  2636621520    17    3        5
658      658  2.3236  2.1768        66  502343  7877745055    19    6        1
1368    1368  2.2613  2.3392        73  319822  9775192577    16    4        6
1627    1627  2.3331  2.0011        66  595084  6731326909    21    7        2

In [16]:
#分组聚合计数
place_count = data.groupby("place_id").count()

In [17]:
place_count.head()
#找到没用的，然后去掉，刷新变量

            row_id    x    y  accuracy  time  hour  day  weekday
place_id
1006234733       1    1    1         1     1     1    1        1
1008823061       4    4    4         4     4     4    4        4
1012580558       3    3    3         3     3     3    3        3
1025585791      21   21   21        21    21    21   21       21
1026507711     220  220  220       220   220   220  220      220

In [18]:
place_count = place_count[place_count["row_id"]>3]
place_count.head()

            row_id    x    y  accuracy  time  hour  day  weekday
place_id
1008823061       4    4    4         4     4     4    4        4
1025585791      21   21   21        21    21    21   21       21
1026507711     220  220  220       220   220   220  220      220
1032417180      10   10   10        10    10    10   10       10
1040557418     123  123  123       123   123   123  123      123

In [19]:
#报错，重启试试,传新的数据给变量
data = data[data["place_id"].isin(place_count.index)]
data.shape
#变少了，清洗之后

(69264, 9)

In [20]:
data.head()

      row_id       x       y  accuracy    time    place_id  hour  day  weekday
163      163  2.1663  2.3755        84  669737  3869813743    18    8        3
310      310  2.3695  2.2034         3  234719  2636621520    17    3        5
658      658  2.3236  2.1768        66  502343  7877745055    19    6        1
1368    1368  2.2613  2.3392        73  319822  9775192577    16    4        6
1627    1627  2.3331  2.0011        66  595084  6731326909    21    7        2

In [21]:
#确定特征和目标值
x = data[["x","y","accuracy","hour","day","weekday"]]
y = data["place_id"]

In [22]:
x.head()

           x       y  accuracy  hour  day  weekday
163   2.1663  2.3755        84    18    8        3
310   2.3695  2.2034         3    17    3        5
658   2.3236  2.1768        66    19    6        1
1368  2.2613  2.3392        73    16    4        6
1627  2.3331  2.0011        66    21    7        2

In [23]:
y.head()

163     3869813743
310     2636621520
658     7877745055
1368    9775192577
1627    6731326909
Name: place_id, dtype: int64

In [24]:
#分割数据集,训练和测试
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=2,test_size=0.25)

In [25]:
x_train.head()

               x       y  accuracy  hour  day  weekday
19509166  2.3217  2.2029         1     0    8        3
20577315  2.4800  2.2129       175    20    7        2
24044078  2.2389  2.3447        79     3    8        3
11279021  2.0850  2.2789       119     1    9        4
19491154  2.2408  2.0092       168     0    8        3

In [26]:
#特征工程，特征与处理，标准化,实例化转换器
transfer = StandardScaler()
x_train = transfer.fit_transform(x_train)
x_test = transfer.fit_transform(x_test)

In [31]:
#机器学习 以及交叉验证网格搜索的调优
#实例化训练器
estimator = KNeighborsClassifier()
#交叉验证，网格搜索,njob跑CPU,-1全跑
param_grid = {"n_neighbors":[3,5,7,9]}
estimator = GridSearchCV(estimator=estimator, param_grid=param_grid, cv=3, n_jobs=-1)
#模型训练
estimator.fit(x_train, y_train)

d:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:670: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  warnings.warn(("The least populated class in y has only %d"

GridSearchCV(cv=3, estimator=KNeighborsClassifier(), n_jobs=-1,
             param_grid={'n_neighbors': [3, 5, 7, 9]})

In [33]:
#模型评估
#准确率输出
scour_ret = estimator.score(x_test,y_test)
print("准确率：\n", scour_ret)

准确率：
 0.3678101178101178

In [34]:
#预测结果
y_pre = estimator.predict(x_test)
print("预测值：\n", y_pre)

预测值：
 [2225211839 8980163153 1247398579 ... 1891783132 8169595806 3661555534]

In [35]:
#其他结果输出
print("最好的模型：\n", estimator.best_estimator_)
print("最好的结果：\n", estimator.best_score_)
print("所有的结果：\n",estimator.cv_results_)

最好的模型：
 KNeighborsClassifier(n_neighbors=7)
最好的结果：
 0.3369138369138369
所有的结果：
 {'mean_fit_time': array([0.13775531, 0.12974731, 0.13056326, 0.12586538]), 'std_fit_time': array([0.00654248, 0.00585395, 0.00532214, 0.00466914]), 'mean_score_time': array([1.44193459, 1.59052785, 1.67257245, 1.71651514]), 'std_score_time': array([0.06443019, 0.03180593, 0.01281117, 0.00667801]), 'param_n_neighbors': masked_array(data=[3, 5, 7, 9],
             mask=[False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'n_neighbors': 3}, {'n_neighbors': 5}, {'n_neighbors': 7}, {'n_neighbors': 9}], 'split0_test_score': array([0.32802033, 0.33743359, 0.33679834, 0.33136983]), 'split1_test_score': array([0.33085008, 0.34193809, 0.34228459, 0.33633634]), 'split2_test_score': array([0.32212982, 0.33073458, 0.33165858, 0.32796258]), 'mean_test_score': array([0.32700008, 0.33670209, 0.33691384, 0.33188958]), 'std_test_score': array([0.00363239, 0.00460297, 0.00433882, 0.00343827]), 'rank_test_score': array([4, 2, 1, 3])}